@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:root {
  --primary-color: #61ae24;
}

body{
    color: #444;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    padding-top: 40px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2, h3{
    text-transform: uppercase;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
    color: #61ae24;
    text-decoration: none;
}

a:visited, a:hover, a:focus {
    color: #53961f;
}

header {
    display: flex;
}

header img {
    height: 70px;
}

header > div:first-child{
    margin-right: 30px;
}

header > div:nth-child(2) {
    flex: 1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.controls {
    margin: 20px 0px;
}

.description {
    margin-top: 8px;
    font-size: 0.9em
}

.batch {
    padding: 20px 0px;
}

.batch ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.batch ul li {
    display: inline-block;
    width: 180px;
    margin-bottom: 20px;
    font-size: 0.9em;
    padding: 20px 0px;
    text-align: center;
    transition: all 0.5s;
}
.batch ul li > div{
    text-align: left;
    display: inline-block;
}

.batch ul li:hover {
    background-color: #eee;
}

.batch ul li img {
    display: block;
    margin-bottom: 10px
}

.batch-name {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px
}

.hide {
    display: none !important;
}
